article {
	margin: 4em auto;
	width: 85vw;
}

label {
	padding: 0;
	margin: 0;
}

textarea {
	margin-bottom: 1em;
	width: 28em;
}

.first-pt-contact-form {
	width: 80%;
	margin: 0 auto;
}

.first-pt-contact-form .contact-div:nth-child(3) label {
	padding-right: 0;
	padding-left: 5em;
}

.contact-div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
   align-items: baseline;
}
